main {
    margin-top: 40px;
    margin-bottom: 50px;
}

body {
    background-color: #F5F5F5;
}

.card {
    border: none;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px;
}

.btn-cari {
    margin-top: 30px;
    height: 50px;
    width: 100%;
    border-radius: 20px;
}

.cari form input {
    height: 50px;
}

.cari form select {
    height: 50px;
}

.hasil {
    margin-top: 40px;
}

.hasil .train {
    margin-left: 14px;
    width: 42px;
    height: 55px;
    padding-top: 3px;
}

.hasil .estimasi {
    margin-left: 20px;
    font-weight: 700;
}

.hasil .awal {
    font-weight: 700;
    font-size: 25px;
}

.hasil .tujuan {
    font-weight: 700;
    font-size: 25px;
}

.hasil .code-awal {
    font-size: 12px;
    font-weight: 400;
}

.hasil .code-tujuan {
    font-size: 12px;
    font-weight: 400;
}

.hasil .harga {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

.hasil .btn {
    height: 40px;
    border-radius: 10px;
}

.hasil h2 {
    font-weight: 700;
}